################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Practical_1assignment/.vs/Practical_1assignment.slnx
/Practical_1assignment/obj/Debug
/Practical_1assignment/Images/desktop.ini
/Practical_1assignment/.vs
/Practical_1assignment/bin/Debug
