################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Statistics_and_Testing.slnx/FileContentIndex
